@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-background-color {
    &__orange-light {
        background-color: v.$color_orange-light;
    }
    &__orange-verylight {
        background-color: v.$color_orange-verylight;
    }
    &__black {
        background-color: v.$color_black;
    }
    &__white {
        background-color: v.$color_white;
    }
    &__gray {
        background-color: v.$color_gray;
    }
}