@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-button {
    border-radius: 100vh;
    align-items: center;
    display: grid;
    text-align: center;
    width: 163.16px;
    height: 42.47px;
    background-color: v.$color_white;
    border: v.$box_border;
    @include m.mq(pc){
        width: 292px;
        height: 76px;
    }
    &__hamburger {
        border: none;
        cursor: pointer;
    }
    &--secondary {
        max-width: 429px;
        height: 81px;
        border-radius: 20px;
        border: v.$box_border;
        display: grid;
        align-items: center;
        text-align: center;
        background-color: v.$color_orange-verylight;
        @include m.mq(){
            max-width: 335px;
        }
    }
}