@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-button {
    padding: 10px 42.2px 10.5px 41px;
    border-radius: 100vh;
    align-items: center;
    display: grid;
    text-align: center;
    background-color: v.$color_white;
    border: v.$box_border;
    @include m.mq(pc){
        padding: 27px 106px;
    }
    &__hamburger {
        border: none;
        cursor: pointer;
    }
    &--secondary {
        max-width: 429px;
        height: 81px;
        border-radius: 20px;
        border: v.$box_border;
        display: grid;
        align-items: center;
        text-align: center;
        background-color: v.$color_orange-verylight;
        position: relative;
        z-index: 800;
        cursor: pointer;
        @include m.mq(){
            max-width: 335px;
        }
        &-active {
            z-index: unset;
        }
    }
}