@use "../../foundation/global" as g;
@use "../../foundation/variables";

.c-card {
    &__title {
        color: #eaeaea;
        font-size: 8rem;
        font-weight: bold;
    }
    &__item {
        font-size: 2.4rem;
        font-weight: bold;
        color: #3c2a10;
    }
    &__text {
        font-size: 1.6rem;
        &-bold {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
    &__map {
        &--title {
            font-size: 3.6rem;
            font-weight: bold;    
        }
        &--text {
            font-size: 1.6rem;
            font-weight: bold;
        }
        &--color {
            color: #eaeaea;
        }
    }
}