@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-icon {
    background: url(/img/search01.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    &--focus {
        display: none;
    }
}