@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-img {
    &__item {
        @include m.mq(){
            width: 100%;
            height: 230.53px;
            background-image: url(/img/food-search.jpg);
            background-size: cover;
        }
        @include m.mq(tb){
            width: 100%;
            min-width: 378.28px;
            background-image: url(/img/food-search-tb.jpg);
            background-size: cover;
        }
        @include m.mq(pc){
            width: 100%;
            min-width: 677px;
            min-height: 471px;
            background-image: url(/img/food-search-pc.jpg);
            background-size: cover;
        }
    }
    &__head {
        width: 100%;
        background-image: url(/img/cooked-foods.png);
        background-size: cover;
        background-position: center bottom;
        @include m.mq(){
            height: 124px;
        }
        @include m.mq(tb){
            height: 264px;
        }
    }
    &__foot {
        width: 267px;
        height: 166px;
        background-image: url(/img/cooked-foods.png);
        background-size: cover;
        @include m.mq(tb){
            width: 581px;
            height: 358px;
        }
    }
    &__unit {
        background-image: url(/img/cooked-foods.png);
        background-size: cover;
        width: 144px;
        height: 89px;
        @include m.mq(tb){
            width: 306px;
            height: 189px;
        }
    }
    &__caption {
        width: 100%;
        height: auto;
        background-size: cover;
        @include m.mq(tb){
            width: 48.88%;
        }
    }
}