@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-img {
    &__item {
        @include m.mq(){
            height: 230.53px;
            background-image: url(/img/food-search.jpg);
            background-size: cover;
        }
        @include m.mq(tb){
            min-width: 378.28px;
            background-image: url(/img/food-search-tb.jpg);
            background-size: cover;
            background-position: bottom left;
        }
        @include m.mq(pc){
            min-width: 677px;
            min-height: 471px;
            background-image: url(/img/food-search-pc.jpg);
            background-size: cover;
            background-position: bottom left;
        }
    }
    &__head {
        width: 100%;
        background-image: url(/img/cooked-foods.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include m.mq(){
            height: 124px;
            background-position: center bottom -5px;
        }
        @include m.mq(tb){
            height: 264px;
            background-position: center bottom -20px;
        }
        @include m.mq(pc){
            height: 500px;
            background-position: center bottom -80px;
        }
    }
    &__foot {
        width: 267px;
        height: 166px;
        background-image: url(/img/cooked-foods.png);
        background-size: cover;
        background-position: center bottom;
        @include m.mq(tb){
            width: 81.37%;
            height: 358px;
        }
        @include m.mq(pc){
            width: 42.94%;
            height: 358px;
        }
    }
    &__unit {
        background-image: url(/img/cooked-foods.png);
        background-size: cover;
        background-position: center bottom;
        width: 134px;
        height: 89px;
        @include m.mq(tb){
            width: calc(45.8% - 21px);
            height: 189px;
        }
        @include m.mq(pc){
            width: calc(45.9% - 40px);
            height: 358px;
        }
    }
    &__caption {
        width: 100%;
        height: auto;
        background-size: cover;
        @include m.mq(tb){
            width: 48.88%;
        }
        @include m.mq(pc){
            width: 32.3%;
        }
    }
}