@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-img {
    &__item {
        width: 50.04%;
        object-fit: cover;
        object-position: bottom left;
        @include m.mq(){
            width: 100%;
            height: 230.53px;
        }
        @include m.mq(tb){
        }
        @include m.mq(pc){
        }
    }
    &__head {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        @include m.mq(){
            height: 124px;
        }
        @include m.mq(tb){
            height: 264px;
        }
        @include m.mq(pc){
            height: 500px;
        }
    }
    &__foot {
        width: 267px;
        height: 166px;
        object-fit: cover;
        object-position: bottom;
        @include m.mq(tb){
            width: 81.37%;
            height: 358px;
        }
        @include m.mq(pc){
            width: 42.94%;
            height: 358px;
        }
    }
    &__unit {
        background-image: url(/img/cooked-foods.png);
        object-fit: cover;
        object-position: bottom;
        width: 134px;
        height: 89px;
        @include m.mq(tb){
            width: calc(45.8% - 21px);
            height: 189px;
        }
        @include m.mq(pc){
            width: calc(45.9% - 40px);
            height: 358px;
        }
    }
    &__caption {
        width: 100%;
        height: auto;
        background-size: cover;
        @include m.mq(tb){
            width: 48.88%;
        }
        @include m.mq(pc){
            width: 32.3%;
        }
    }
}