@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-search {
    border-radius: 10px;
    border: v.$box_border;
    @include m.fz(16);
    &--button {
        @include m.mq(){
            width: 78px;
        }
        width: 136px;
        height: 46px;
        border-radius: 10px;
        border: v.$box_border;
        @include m.fz(16);
        color: v.$color_gray;
    }
}