@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-search {
    border-radius: 10px;
    border: v.$box_border;
    font-size: 1.6rem;
    font-family: "M+1m";
    &--button {
        @include m.mq(){
            width: 78px;
        }
        @include m.mq(tb){
            width: 136px;
        }
        height: 46px;
        border-radius: 10px;
        border: v.$box_border;
        font-size: 1.6rem;
        font-family: "M+1m";
        color: v.$color_gray;
    }
}