@use "../../foundation/global" as g;
@use "../../foundation/variables";

.c-text {
    font-size: 1rem;
    line-height: 1.4;
    &__main {
        font-size: 4rem;
        font-weight: bold;
        color: #fff;
    }
}