@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-title {
    color: v.$color_gray-light;
    @include m.roboto;
    @include m.fz(41);
    @include m.bold;
    @include m.mq(pc){
        @include m.font-vw(80,1920);
    }
    &--small {
        color: v.$color_brown;
        @include m.font-vw(28, 374);
        @include m.bold; 
        @include m.mq(tb){
            @include m.font-vw(36, 834);
        }
        @include m.mq(pc){
            @include m.font-vw(36, 1920);
        }
    }
    &--item {
        @include m.fz(22);
        color: v.$color_brown;
        @include m.mq(tb){
            @include m.fz(24);
        }
        @include m.mq(pc){
            @include m.fz(24);
        }
    }
    &--access {
        color: v.$color_white;
        @include m.fz(30);
        @include m.mq(pc){
            @include m.fz(36);
        }
        }
    &--site {
        @include m.fz(36);
        color: v.$color_white;
        @include m.mq(pc){
            @include m.fz(40);
        }
        &-sub {
            color: v.$color_white;
            @include m.mq{
                @include m.fz(36);
            }
            @include m.mq(tb){
                @include m.fz(60);
            }
            @include m.mq(pc){
                @include m.fz(60);
            }
        }
        &-bottom {
            @include m.fz(16);
            color: v.$color_white;
        }
    }
}