@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.c-title {
    color: v.$color_gray-light;
    @include m.roboto;
    @include m.fz(41);
    @include m.bold;
    &--item {
        @include m.fz(22);
        color: v.$color_brown;
    }
    &--access {
        color: v.$color_white;
        @include m.fz(30);
        }
    &--site {
        @include m.fz(36);
        color: v.$color_white;
    }
}