@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.u-display {
    @include m.mq(){
        width: 375px;
    }
    @include m.mq(tb){
        width: 834px;
    }
    @include m.mq(pc){
        width: 100%;
    }
    &__flex {
        display: flex;
        &--center {
            @include m.mq(pc){
                flex: 1;
            }
        }
        &--right {
            @include m.mq(pc){
                flex: 2;
            }
        }
    }
    &__column {
        @include m.mq(){
            flex-direction: column;
        }
    }
    &__reverse {
        flex-direction: row-reverse;
    }
    &__center {
        display: flex;
        justify-content: center;
    }
    &__wrap {
        flex-wrap: wrap;
    }
}