@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.u-display {
    @include m.mq(){
        width: 375px;
    }
    @include m.mq(tb){
        width: 834px;
    }
    &__flex {
        display: flex;
    }
}