@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.u-margin {
    @include m.mq(tb){
        margin-top: 241px;
    }
    &--left {
        margin-left: 10px;
        @include m.mq(tb){
            margin-left: 21px;
        }
    }
    &--right {
        margin-right: 10px;
        @include m.mq(tb){
            margin-right: 21px;
        }
    }
    &--top {
        margin-top: 60px;
        &-sub {
            @include m.mq(tb){
                margin-top: 117px;
            }
        }
    }
    &--table {
        @include m.mq(pc){
            margin-top: 50px;
        }
    }
}