@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.u-padding {
    padding-left: 50px;
    @include m.mq(){
        padding-left: 0px;
    }
    &--left {
        @include m.mq(tb){
            padding-left: 1px;
        }
    }
    &--bottom {
        padding-bottom: 177px;
        @include m.mq(tb){
            padding-bottom: 227px;
        }
        @include m.mq(pc){
            padding-bottom: 353px;
        }
    }
}