@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.u-padding {
    @include m.mq(tb){
        padding-left: 50px;
    }
    &--left {
        @include m.mq(tb){
            padding-left: 1px;
        }
    }
    &--bottom {
        padding-bottom: 177px;
        @include m.mq(tb){
            padding-bottom: 228px;
        }
    }
}