@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-access {
    &__inner {
        width: 61.17%;
        padding: 83px 134px 40px 119px;
        &--color {
            background-color: rgba($color: #000000, $alpha: 0.29);
        }
    }
    &__map {
        width: 100%;
        height: auto;
        position: relative;
        z-index: -5;
        &::before {
            content: "";
            display: block;
        }
        & iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 60%;
            top: 0;
            left: 0;
            z-index: -1;
        }    
        &--img {
            background-color: #000;
        }
    }
}