@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.p-access {
    @include m.mq(){
        padding: 40px 40px 0 40px;
    }
    @include m.mq(tb){
        padding: 40px 29px 0 42px;
    }
    @include m.mq(pc){
        padding: 83px 134px 0 119px;
    }
    &__inner {
        &--top {
            margin-top: 20px;
            @include m.mq(pc){
                margin-top: 63.5px;
            }
        }
        &--bottom {
            margin-bottom: 20px;
            @include m.mq(pc){
                margin-bottom: 55.5px;
            }
        }
        &::after {
            content: "";
            width: 75px;
            height: 2px;
            background-color: #fff;
            display: block;
        }
    }
    &__map {
        padding-bottom: 51px;
        height: 100%;
        position: relative;
        z-index: -5;
        @include m.mq(pc){
            padding-bottom: 40px;
        }
        & iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0.6;
            top: 0;
            left: 0;
            z-index: -3;
        }
    }
    &__top {
        height: 415px;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.29;
        z-index: -1;
        @include m.mq(){
            height: 415px;
        }
        @include m.mq(tb){
            height: 100%;
        }
        @include m.mq(pc){
            height: 100%;
            width: 950px;
        }
        &--pc {
            width: 950px;
            @include m.mq(){
                width: auto;
            }
            @include m.mq(tb){
                width: auto;
            }
        }
    }
}