@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.p-archive {
    position: relative;
    width: 100%;
    height: 283px;
    @include m.mq(pc){
        height: 239px;
    }
    &__inner {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0.5;
    }
    &__mainvisual {
        background-image: url(/img/page-title_arcive.jpg);
        @include m.mq(pc){
            background-image: url(/img/home_take-out_.jpg);
            background-size: cover;
            background-position: center;
        }
    }
    &__title {
        position: absolute;
        top: 102px;
        left: 37px;
        @include m.mq(tb){
            display: flex;
            align-items: center;
            left: 86px;
        }
        @include m.mq(pc){
            display: flex;
            align-items: center;
            top: 80px;
            left: 86px;
        }
        &--bottom {
            @include m.mq(sm){
                padding-top: 7px;
            }
            @include m.mq(tb){
                padding-left: 20px;
            }
            @include m.mq(pc){
                padding-left: 20px;
            }
        }
    }
    &__heading {
        margin-bottom: 19px;
        padding-left: 2px;
    }
    &__middle {
        margin-bottom: 30px;
    }
}