@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.p-article {
    &__heading {
        @include m.mq(){
            padding-left: 2px;
            margin-bottom: 19px;
        }
        @include m.mq(tb){
            margin-bottom: 37px;
        }
        @include m.mq(pc){
            margin-bottom: 70px;
        }
        &--top {
            margin-bottom: 25px;
            @include m.mq(){
            margin-bottom: 30px;
            }
        }
    }
}