@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;
.p-card {
    padding: 11px 15px 15px 15px;
    @include m.mq(tb){
        padding: 12px 15px 15px 16px;
    }
    @include m.mq(pc){
        padding: 20px;
    }
    &--img {
        background-position: center;
        background-size: cover;
        &-left {
            background-image: url(/img/home_take-out_.jpg);
        }
        &-right {
            background-image: url(/img/home-eat_in.jpg);
        }
    }
    &__title {
        &--bottom {
            display: block;
            margin-bottom: 15.3px;
            @include m.mq(pc){
                margin-bottom: 34.5px;
            }
        }
        &::after {
            content: "";
            width: 33.89px;
            height: 4px;
            background-color: #fff;
            display: block;
            @include m.mq(pc){
                width: 63px;
            }
        }
    }
    &__inner {
        flex-direction: column;
        &--middle {
            @include m.mq(){
                min-height: 616px;
            }
            @include m.mq(tb){
                min-height: 654px;
            }
            @include m.mq(pc){
                min-height: 1167px;
            }
            justify-content: space-between;
            &-bottom {
                gap: 20px;
                @include m.mq(tb){
                    gap: 15px;
                }
            }
        }
    }
    &__item {
        padding: 7px 10px 15px 10px;
        opacity: 0.8;
        @include m.mq(pc){
            padding: 12px 21px 20px 20px;
        }
        @include m.mq(tb){
            padding: 7px 15px 15px 15px;
        }
        &--bottom {
            display: block;
            padding-bottom: 3px;
            @include m.mq(pc){
                padding-bottom: 9px;
            }
        }
    }
    &__link {
        @include m.mq(tb){
            width: 50%;
        }
        @include m.mq(pc){
            width: 50%;
        }
    }
}