@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.p-common {
    position: relative;
    width: 100%;
    height: 500px;
    @include m.mq(){
        height: 225px;
    }
    &__title {
        position: absolute;
        top: 208px;
        left: 86px;
        @include m.mq(){
            top: 91px;
            left: 20px;
        }
    }
    &__mainvisual {
        background-image: url(/img/burg_tizu.jpg);
        background-position: center;
        background-size: 235%;
        @include m.mq(pc){
            background-size: 100%;
        }
        &-sub {
            background-image: url(/img/page-title_shop_pc.png);
            background-position: center;
            background-size: 235%;
            @include m.mq(pc){
                background-size: 100%;
            }
        }
    }
}