@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.p-common {
    position: relative;
    width: 100%;
    @include m.mq(){
        height: 225px;
    }
    @include m.mq(tb){
        height: 500px;
    }
    &__title {
        position: absolute;
        @include m.mq(){
            top: 91px;
            left: 20px;
        }
        @include m.mq(tb){
            top: 208px;
            left: 86px;
        }
    }
    &__mainvisual {
        background-image: url(/img/burg_tizu.jpg);
        background-position: center;
        background-size: 235%;
    }
}