.p-content {
    &__inner {
        margin: 120px 0 131px 0;
        padding: 0 112px;    
        display: flex;
        column-gap: 80px;
        width: auto;
        background-color: #fff;
    }
}