.p-content {
    &__inner {
        margin: 120px 0 131px 0;
        padding: 0 112px 0 111px;    
        display: flex;
        column-gap: 80px;
        justify-content: space-between;
        width: auto;
        background-color: #fff;
    }
}