@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.p-home {
    position: relative;
    width: 100%;
    height: 285px;
    @include m.mq(pc){
        height: 530px;
    }
    &__mainvisual {
        @include m.mq(){
            background-image: url(/img/mainvisual-smart.jpg);
        }
        @include m.mq(tb){
            background-image: url(/img/mainvisual-sp.jpg);
            background-position: center;
        }
        @include m.mq(pc){
            background-image: url(/img/mainvisual-sp.jpg);
            background-position: center;
        }
        background-size: cover;
        &--archive {
            @include m.mq(){
                background-image: url(/img/page-title_arcive.jpg);
            }
        }
    }
    &__title {
        position: absolute;
        top: 119px;
        @include m.mq(){
            left: 25px;
        }
        @include m.mq(tb){
            left: 86px;
        }
        @include m.mq(pc){
            top: 231px;
            left: 86px;
        }
    }
}