@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.p-note {
    padding: 30px 16px 30px 20px;
    @include m.mq(tb){
        padding: 50px 56px 60px 50px;
    }
    @include m.mq(pc){
        padding: 50px 60px 50px 50px;
    }
    &__inner {
        padding-top: 60px;
        @include m.mq(){
            padding-top: 30px;
        }
    }
}