@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.p-search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    &__inner {
        position: relative;
        background-color: #fff;
        @include m.mq(){
            margin-right: 12px;
        }
        @include m.mq(tb){
            margin-right: 14px;
        }
        @include m.mq(pc){
            margin-right: 13px;
        }
        &--icon {
            z-index: 600;
            position: absolute;
            top: 11px;
            left: 12px;
            @include m.mq(){
                left: 16px;
            }
        }
        &--text {
            @include m.mq(){
                width: 212px;
            }
            @include m.mq(tb){
                width: 378px;
            }
            @include m.mq(pc){
                width: 378px;
            }
            height: 44px;
            padding-left: 16px;
        }   
    }
}