@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-search {
    width: 100%;
    height: 100%;
    &-B {
        display: inline-block;
        max-width: 100%;
    }
    &__text{
        border: 1px solid #707070;
        background-color: #fff;
        border-radius: 10px;
        width: 396px;
        height: 46px;
        padding: 11px 12px;
    }
    &__button {
        padding: 12px 52px;
        font-weight: bold;
        font-size: 1.6rem;
        color: #707070;
        border: 1px solid #707070;
        border-radius: 10px;
        cursor: pointer;
    }
    &-right {
        padding-right: 13px;
    }
    &-box {
        font-size: 100%;
        &__clearbutton::-webkit-search-cancel-button {
            width: 16px;
            height: 16px;
            cursor: pointer;
            vertical-align: center;
        }
    }
}

