@use "../../foundation/global" as g;
@use "../../foundation/variables";

.p-sidebar {
    margin-bottom: 85px;
    padding-left: 46px;
    &__sub {
        margin-bottom: 49px;
        padding-left: 46px;    
    }
    &__list {
        display: inline-block;
        margin-top: 40px;
    }
    &__item {
        width: 240px;
        margin: 40px 61px 0 20px;
    }
    &__text {
        margin-top: 22px;
    }
}