.l-footer {
    background: url(/img/footer_img.jpg);
    padding: 39px 0 30px;
    color: #fff;
    &__inner {
        display: flex;
        justify-content: center;
        font-size: 2.0rem;
        margin-bottom: 34px;
        &--left {
            border-right: solid 2px #FFF;
        }
        &--bottom {
            font-size: 1.4rem;
            text-align: center;
        }
    }
}