@use "../foundation/mixin" as m;
@use "../foundation/variables" as v;

.l-footer {
    height: 120px;
    padding-bottom: 30px;
    @include m.mq(){
        background-image: url(/img/footer_img-smart.jpg);
    }
    @include m.mq(tb){
        background-image: url(/img/footer_img-tablet.jpg);
    }
    @include m.mq(pc){
        background-image: url(/img/footer_img-pc.jpg);
        position: absolute;
        width: 100%;
        z-index: 800;
    }
    &__inner {
        z-index: 800;
        padding: 39px 0 34px 0;
        justify-content: center;
        &--right{
            border-left: solid 2px v.$color_white;
        }
        &-active {
            z-index: unset;
        }
    }
}