@use "../foundation/mixin" as m;
@use "../foundation/variables" as v;

.l-header {
    position: relative;
    z-index: 800;
    padding: 40px 0;
    @include m.mq(pc){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 67px 31px 66px 65px;
    }
    &-active {
        z-index: unset;
    }
    &__search {
        padding-top: 38px;
        @include m.mq(pc){
            padding: 0;
        }
    }
    &__hamburger {
        position: absolute;
        background-color: v.$color_orange-light;
        z-index: 900;
        @include m.mq(){
            top: 14px;
            right: 16px;    
        }
        @include m.mq(tb){
            top: 18px;
            right: 26px;
        }
        @include m.mq(pc){
            display: none;
        }
        &--pc{
            @include m.mq(pc){
                position: absolute;
                z-index: 900;
                top: 82px;    
                left: 46px;
                @include m.fz(34);
                @include m.bold;
                @include m.roboto;
            }
            @include m.mq(tb){
                display: none;
            }
            @include m.mq(){
                display: none;
            }
        }
        & span:nth-child(1) {
            display: block;
            width: 32px;
            height: 6px;
            margin-left: auto;
            transition: all .15s linear;
        }
        & span:nth-child(2) {
            @include m.mq(){
                @include m.fz(20);
            }
            @include m.mq(tb){
                @include m.fz(34);
            }
            font-weight: bold;
            font-family: 'Roboto';
            transition: all .15s linear;
        }
        & span:nth-child(3) {
            display: block;
            width: 32px;
            height: 6px;
            margin-left: auto;
            transition: all .15s linear;
        }
        &-active {
            background-color: v.$color_orange-verylight;
            & span:nth-child(1) {
                display: block;
                background-color: v.$color_gray;
                @include m.mq(){
                    transform: translateY(15px) rotate(45deg);
                }
                @include m.mq(tb){
                    transform: translateY(22px) rotate(45deg);
                }
            }
            & span:nth-child(2) {
                opacity: 0;
                margin: 8px 0;
            }
            & span:nth-child(3) {
                display: block;
                background-color: v.$color_gray;
                @include m.mq(){
                    transform: translateY(-14px) rotate(-45deg);
                }
                @include m.mq(tb){
                    transform: translateY(-23px) rotate(-45deg);
                }
            }
        }
    }
}