@use "../foundation/global" as g;
@use "../foundation/variables" as v;

.l-header {
    padding: 40px 0;
    position: relative;
    top: 0;
    z-index: 800;
    &-active {
        z-index: unset;
    }
    &__logo {
        margin: 0 40px;
    }
    &__search {
        padding-top: 38px;
        margin: 0 31px 0 24px;
    }
    &__hamburger {
        position: absolute;
        background-color: v.$color_orange-light;
        top: 14px;
        right: 16px;
        z-index: 900;
        & span:nth-child(1) {
            display: block;
            width: 32px;
            height: 6px;
            margin-left: auto;
            transition: all .15s linear;
        }
        & span:nth-child(2) {
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Roboto';
            transition: all .15s linear;
        }
        & span:nth-child(3) {
            display: block;
            width: 32px;
            height: 6px;
            margin-left: auto;
            transition: all .15s linear;
        }
        &-active {
            background-color: v.$color_orange-verylight;
            & span:nth-child(1) {
                display: block;
                transform: translateY(15px) rotate(45deg);
                background-color: v.$color_gray;
            }
            & span:nth-child(2) {
                opacity: 0;
                margin: 8px 0;
            }
            & span:nth-child(3) {
                display: block;
                transform: translateY(-14px) rotate(-45deg);
                background-color: v.$color_gray;
            }
        }
    }
}