.l-header {
    background-color: #fff7ef;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 31px 0 65px;
    }
    &__logo {
        margin: 67px 0;
        font-size: 64px;
        font-weight: bold;
    }
    &__nav {
        width: 545px;
    }
}