@use "../foundation/global" as g;
@use "../foundation/variables" as v;

.l-sidebar {
    margin-left: 47px;
    padding-bottom: 100%;
    width: 328px;
    height: auto;
    &__inner {
        padding-top: 212px;
    }
    &__title {
        padding-left: 46px;
    }
    &__hamburger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: ease .4s;
    z-index: 850;
    &-active {
        transform: translateX(0);
    }
    }
    &__item {
        margin-top: 22px;
    }
    &__list {
        padding: 40px 0 43px 70px;
    }
}