@use "../foundation/mixin" as m;
@use "../foundation/variables" as v;

.l-sidebar {
    width: 328px;
    @include m.mq(tb){
        width: 367px;
    }@include m.mq(pc){
        width: 367px;
    }
    &__inner {
        padding-top: 164px;
    }
    &__title {
        padding: 48px 0 12px 46px;
    }
    &__hamburger {
    transform: translateX(0);
    transition: ease .4s;
    z-index: 850;
    position: absolute;
    top: 0;
    bottom: 0;
    @include m.mq(){
        right: -375px;
    }
    @include m.mq(tb){
        right: -367px;
    }
    @include m.mq(pc){
        position: static;
    }
    &-active {
        @include m.mq(){
            transform: translateX(-375px);
            }
        @include m.mq(tb){
            transform: translateX(-367px);
            }
        }
    }
    &__item {
        margin-top: 22px;
        padding-left: 66px;
    }
    &__list {
        padding: 12px 0 48px 66px;
    }
}